# pip install transformers
# pip install torch
# pip install pandas
# pip install scikit-learn
# pip install tqdm
# pip install sentencepiece

transformers
torch
pandas
scikit-learn
tqdm
sentencepiece
fastapi
uvicorn